.root {
  position: relative;

  @media (max-width: 500px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.icon {
  height: 22px;
  left: 14px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  width: 22px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 12px 42px;
  width: 400px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 985px) {
    width: 285px;
  }

  @media (max-width: 720px) {
    width: 220px;
  }

  @media (max-width: 640px) {
    width: 190px;
  }

  @media (max-width: 500px) {
    width: 280px;
  }

  @media (max-width: 295px) {
    width: 180px;
  }
}

.clearIcon {
  cursor: pointer;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;

  &:hover {
    opacity: 0.8;
  }
}
